#cabecera{
    background-color: black;
    height: 50px;
    padding: 20px;
}

body{
    background-color: gray;
    text-align: center;

}

h1{
    color: #ffffff;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}

button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  button:hover {
    background-color: #0E5D04;
  }